p {
    font-size: 1.1em;
    font-family: cursive;
    color: #777777;
    font-style: normal;
    text-align: justify;
    margin-bottom: 20px;
}

h1 {
  font-size: 2em; 
  font-family: 'Roboto Slab', serif;
}

h2 {
  font-size: 1.5em;
  font-family: 'Montserrat', serif;
  font-style: italic;
}


@media screen and (width > 1919px) {
    p {
        font-size: 0.8em;
    }

    h1 {
        font-size: 1.6em;
    }

    h2 {
        font-size: 1.3em;
    }
}

body {
    background-color: beige;
    width: 80%;
    margin: 10% auto;
}
.header {
    display : flex;
}

.header .menu {
    float: right;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10%;
}

.header .menu ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.header .menu ul li {
    display: inline-block;
    margin: 0 10%;
}

.header .menu ul li a {
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    background-color: black;
}
