body {
    background-color: beige;
    width: 600px;
    height: 800px;
    margin: 0 auto;
}


legend {
    font-weight: bold;
}

textarea{
    width: 550px;
    height: 100px;
}

.bouton{
    float: right;
}

h1 {
    background-color: #393839;
    font-color: white;
    padding: 15px 40px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 1%;
}
