p {
    font-size: 1.1em;
    font-family: cursive;
    color: #777777;
    font-style: normal;
    text-align: justify;
    margin-bottom: 20px;
}

h1 {
  font-size: 2em;  
}

h2 {
  font-size: 1.5em;  
}

h3 {
  font-size: 1.3em;  
}

@media screen and (width > 1919px) {
    p {
        font-size: 0.8em;
    }

    h1 {
        font-size: 1.6em;
    }

    h2 {
        font-size: 1.3em;
    }

    h3 {
        font-size: 1.2em;
    }
}

body {
    background-color: beige;
    width: 80%;
    margin: 10% auto;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.navbar {
    position: fixed;
}

.header .navbar .menu {
    float: right;
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
}

.header .navbar .menu ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.header .navbar .menu ul li {
    display: inline-block;
    margin: 0 25px;
}

.header .navbar .menu ul li a {
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    background-color: black;
}
